/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9fbfd;
    display: flex;
    flex-direction: column; /* Adicionado */
    min-height: 100vh; /* Alterado para min-height */
}

/* Contêiner principal */
.p-container {
    background: #f6f8f7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin: 0 auto; /* Centraliza o contêiner */
    flex: 1; /* Permite que o contêiner principal expanda */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#pergunta {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#sim {
    background-color: #28a745;
    color: #fff;
}

#sim:hover {
    background-color: #218838;
}

#nao {
    background-color: #dc3545;
    color: #fff;
}

#nao:hover {
    background-color: #c82333;
}

#resultado {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

#recomecar {
    background-color: #007bff;
    color: #fff;
}

#recomecar:hover {
    background-color: #0069d9;
}

.hidden {
    display: none;
}

#bandeira {
    max-width: 100px;
    margin-top: 20px;
}

#times-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

#times-container img {
    width: 60px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s;
}

#times-container img:hover {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

#pergunta-container {
    text-align: center;
    margin-top: 20px;
}

#resultado-container {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #e91414; /* Cor de fundo */
    padding: 10px; /* Espaçamento */
    text-align: center; /* Centraliza o conteúdo */
    width: 100%; /* Para ocupar toda a largura */
    z-index: 10; /* Para garantir que apareça acima de outros elementos */
    margin-top: auto; /* Para empurrar o rodapé para baixo */
    position: relative; /* Ajuste a posição se necessário */
}

.footer-container i {
    color: #b90606; /* Altere para a cor desejada */
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 24px; /* Tamanho do ícone */
   
}

.footer-container a:hover {
    color: #007bff; /* Altere a cor ao passar o mouse */
}
